snippet react "React Class Component" b
import React, {Component} from 'react';

class ${1:`!v expand('%:t:r')`} extends Component {
  constructor(props) {
    super(props);
    this.state = {};
  }

  render() {
    return <div>hello</div>;
  }
}

export default $1;
endsnippet
