.config/configstore/update-notifier-npm.json
.sensitive_alias
.config/configstore/npm_updater.json
.config/configstore/
.config/wireshark/recent
.config/wireshark/recent_common
fixture/weekly_report_template.md
*/log
.config/pgcli/log
.config/htop/htoprc
.config/clash
.config/asciinema
.config/clash-vagrant/
.config/clash*
.config/pgcli/history
node_modules/*
node_modules
.config/coc/memos.json
.config/coc/extensions/coc-go-data/
.config/coc/extensions
.config/coc/history.json
.config/coc/snippets-mru
.config/coc/list-lists-history.json
.config/coc/list-location-history.json
.config/coc/list-commands-history.json
.config/coc/*-history.json
.config/coc/list-diagnostics-history.json
.config/coc/suggest.txt
.config/coc/lists
.config/coc/commands
local_test/*
.config/lnav/
bin/blade
.config/wireshark/preferences
*/.__pycache__/*
bin/__pycache__/*
.config/GNS3/
.config/wireshark
bin/amtool
.config/litecli/
.config/bpytop/
.secret
ssh_config
.config/gh/hosts.yml
.config/.jira/
bin/.claude/
.config/eve
