.config/clash/config.yaml filter=git-crypt diff=git-crypt
bin/toc-ssh filter=git-crypt diff=git-crypt
bin/*ssh filter=git-crypt diff=git-crypt
bin/ssh* filter=git-crypt diff=git-crypt
bin/git-private filter=git-crypt diff=git-crypt
bin/install_shopee_pipx.sh filter=git-crypt diff=git-crypt
bin/get-spexagent-test-ip filter=git-crypt diff=git-crypt
bin/get-spex-deploy-info filter=git-crypt diff=git-crypt
bin/spex-bumpversion.sh filter=git-crypt diff=git-crypt
bin/server-inspect filter=git-crypt diff=git-crypt
bin/server-list filter=git-crypt diff=git-crypt
bin/server-command filter=git-crypt diff=git-crypt
bin/offline_spex_ip.py filter=git-crypt diff=git-crypt
bin/tmux-connect-gns3 filter=git-crypt diff=git-crypt
.my_alias filter=git-crypt diff=git-crypt
.scrects_export filter=git-crypt diff=git-crypt
ssh_config  filter=git-crypt diff=git-crypt
