[core]
    editer = "/usr/local/bin/vim"
    editor = vim
    excludesfile = ~/.gitignore_global
    quotepath = false
	autocrlf = input
[user]
    name = laixintao
    email = laixintaoo@gmail.com
    username = laixintao
    signingkey = 4E7314AC219D7FE4
[alias]
    pr = pullrequest
    ck = checkout
    br = branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    parent = "!git show-branch | grep '*' | grep -v \"$(git rev-parse --abbrev-ref HEAD)\" | head -n1 | sed 's/.*\\[\\(.*\\)\\].*/\\1/' | sed 's/[\\^~].*//' #"
[merge]
    tool = vimdiff
    conflictstyle = diff3
[pull]
    rebase = true
[mergetool]
    prompt = false
[github]
    user = laixintaoo@gmail.com
    username = laixintao
    name = laixintao
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
    branch = false
[push]
    followTags = true
[diff]
    submodule = log
[commit]
    gpgsign = true
[gpg]
    program = gpg
[submodule]
    recurse = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = true
