[core]
	editer = "/usr/local/bin/vim"
	editor = vim
	excludesfile = ~/.gitignore_global
	quotepath = false
[user]
	name = laixintao
	email = nanshi.lxt@alipay.com
	username = laixintao
[alias]
	pr = pullrequest
	ck = checkout
	br = branch
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = vimdiff
	conflictstyle = diff3
[pull]
    rebase = true
[mergetool]
	prompt = false
[github]
	user = laixintao1995@163.com
	username = laixintao
    name = laixintao
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
