.config/configstore/update-notifier-npm.json
.sensitive_alias
.config/configstore/npm_updater.json
.config/configstore/
.config/wireshark/recent
.config/wireshark/recent_common
fixture/weekly_report_template.md
*/log
.config/pgcli/log
