[user]
	email = glenn.lai@bosondata.com.cn
	name = laixintao
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore
[alias]
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	pr = pullrequest
	br = branch
	ck = checkout
